# depart
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96164_ # reload
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96165_ # onFinish
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96166_ # fadeIn
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96167_ # currentProgress
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96168_ # fadeOutStart
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96169_ # fadeInStart
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96160_ # MOJANG_STUDIOS_LOGO_LOCATION
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96161_ # BRAND_BACKGROUND
public-f net.minecraft.client.gui.screens.LoadingOverlay f_96163_ # minecraft

public net.minecraft.client.gui.screens.LoadingOverlay m_96182_(Lnet/minecraft/client/gui/GuiGraphics;IIIIF)V # drawProgressBar
public net.minecraft.client.gui.screens.LoadingOverlay m_169324_(II)I # replaceAlpha


#filter
public-f net.minecraft.client.gui.screens.inventory.AbstractSignEditScreen f_244140_ # sign
public-f net.minecraft.client.gui.screens.inventory.AbstractSignEditScreen f_244359_ # messages
public net.minecraft.client.gui.screens.inventory.AbstractSignEditScreen f_276451_ # isFrontText
public-f net.minecraft.world.level.block.entity.SignText f_276632_ # messages
public-f net.minecraft.world.level.block.entity.SignText f_276467_ # renderMessages
public net.minecraft.client.gui.screens.inventory.BookEditScreen f_98070_ # pages
public net.minecraft.client.gui.screens.inventory.BookEditScreen f_98065_ # book
public net.minecraft.client.gui.screens.inventory.BookEditScreen f_98071_ # title
public net.minecraft.client.gui.screens.inventory.BookEditScreen f_98066_ # isModified
public net.minecraft.client.gui.screens.inventory.BookEditScreen f_98067_ # isSigning
public net.minecraft.client.gui.screens.inventory.BookEditScreen f_98064_ # owner
public net.minecraft.client.gui.screens.inventory.BookEditScreen f_98056_ # hand
public net.minecraft.client.gui.screens.inventory.BookEditScreen m_98185_()V # eraseEmptyTrailingPages
public net.minecraft.client.gui.screens.inventory.BookViewScreen f_98253_ # bookAccess
public-f net.minecraft.client.gui.screens.inventory.BookViewScreen$WrittenBookAccess f_98320_ # pages
public-f net.minecraft.client.gui.screens.Screen  f_96540_# children
public net.minecraft.client.gui.screens.Screen m_264313_(Lnet/minecraft/client/gui/components/events/GuiEventListener;)V # setInitialFocus
public net.minecraft.world.item.ItemStack <init>(Lnet/minecraft/nbt/CompoundTag;)V # <init>
public net.minecraft.client.gui.screens.Screen  f_96540_# children
public net.minecraft.client.gui.components.AbstractWidget  f_93620_# x
public net.minecraft.client.gui.components.AbstractWidget  f_93621_# y
public net.minecraft.client.gui.components.EditBox m_94174_(Ljava/lang/String;)V # onValueChange
public net.minecraft.world.level.block.entity.BaseContainerBlockEntity f_58622_ # name

# AnvilScreen
public net.minecraft.client.gui.screens.inventory.AnvilScreen f_97871_ # name
public net.minecraft.client.gui.screens.inventory.AnvilScreen m_97898_(Ljava/lang/String;)V # onNameChanged

public net.minecraft.client.gui.screens.inventory.StructureBlockEditScreen f_99357_ # nameEdit
public net.minecraft.client.gui.screens.inventory.StructureBlockEditScreen f_99366_ # dataEdit
public net.minecraft.client.gui.screens.inventory.AbstractCommandBlockEditScreen f_97646_ # commandEdit
public net.minecraft.world.entity.animal.horse.AbstractHorse f_30520_ #inventory
public net.minecraft.world.entity.player.Player f_36093_ # inventory
public net.minecraft.world.entity.player.Player f_36094_ # enderChestInventory
public net.minecraft.world.entity.Entity  f_19833_ # DATA_CUSTOM_NAME

#display filter
public net.minecraft.world.entity.Entity  f_19833_ # DATA_CUSTOM_NAME
public-f net.minecraft.network.protocol.game.ClientboundOpenScreenPacket f_132613_ #title
public-f net.minecraft.network.protocol.game.ClientboundDisconnectPacket f_132075_ #reason
public-f net.minecraft.network.protocol.game.ClientboundMapItemDataPacket f_132419_ #decorations
public-f net.minecraft.nbt.CompoundTag f_128329_ #tags
public-f net.minecraft.network.protocol.game.ClientboundTagQueryPacket f_133494_ #tag
public-f net.minecraft.network.protocol.game.ClientboundPlayerCombatKillPacket f_179060_ #message
public-f net.minecraft.network.protocol.game.ClientboundSetActionBarTextPacket f_179199_ #text
public-f net.minecraft.network.protocol.game.ClientboundSetTitleTextPacket f_179388_ #text
public-f net.minecraft.network.protocol.game.ClientboundSetSubtitleTextPacket f_179374_ #text
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket f_131751_ #operation
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$AddOperation
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$AddOperation f_178664_ #name
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$UpdateNameOperation
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$UpdateNameOperation f_178723_ #name
public-f net.minecraft.client.gui.components.CommandSuggestions f_93866_ #suggestions
public-f net.minecraft.client.gui.components.CommandSuggestions$SuggestionsList
public-f net.minecraft.client.gui.components.CommandSuggestions$SuggestionsList f_93949_ #suggestionList
public-f net.minecraft.nbt.StringTag f_129290_ #data
public-f net.minecraft.util.datafix.DataFixers m_14513_(Lcom/mojang/datafixers/DataFixerBuilder;)V #addFixers

#screen popup
public com.mojang.blaze3d.platform.Monitor f_84937_ # videoModes
public com.mojang.blaze3d.platform.Window f_85350_ # windowedX
public com.mojang.blaze3d.platform.Window f_85351_ # windowedY
public com.mojang.blaze3d.platform.Window f_85352_ # windowedWidth
public com.mojang.blaze3d.platform.Window f_85353_ # windowedHeight
public com.mojang.blaze3d.platform.Window f_85355_ # fullscreen
public com.mojang.blaze3d.platform.Window f_85357_ # x
public com.mojang.blaze3d.platform.Window f_85358_ # y
public com.mojang.blaze3d.platform.Window f_85359_ # width
public com.mojang.blaze3d.platform.Window f_85360_ # height

#skin mod

public net.minecraft.client.renderer.texture.HttpTexture m_118022_(Lcom/mojang/blaze3d/platform/NativeImage;IIII)V #setNoAlpha
public net.minecraft.client.renderer.texture.HttpTexture m_118012_(Lcom/mojang/blaze3d/platform/NativeImage;IIII)V #doNotchTransparencyHack
public net.minecraft.client.resources.SkinManager m_292851_(Ljava/util/UUID;Lcom/mojang/authlib/minecraft/MinecraftProfileTextures;)Ljava/util/concurrent/CompletableFuture; #registerTextures

# friend play mod
public-f  net.minecraft.server.network.ServerCommonPacketListenerImpl  f_291338_ # connection
public net.minecraft.client.multiplayer.ClientPacketListener f_291332_ # seenInsecureChatWarning
