# depart
public-f net.minecraft.client.gui.screens.LoadingOverlay reload
public-f net.minecraft.client.gui.screens.LoadingOverlay onFinish
public-f net.minecraft.client.gui.screens.LoadingOverlay fadeIn
public-f net.minecraft.client.gui.screens.LoadingOverlay currentProgress
public-f net.minecraft.client.gui.screens.LoadingOverlay fadeOutStart
public-f net.minecraft.client.gui.screens.LoadingOverlay fadeInStart
public-f net.minecraft.client.gui.screens.LoadingOverlay MOJANG_STUDIOS_LOGO_LOCATION
public-f net.minecraft.client.gui.screens.LoadingOverlay BRAND_BACKGROUND
public-f net.minecraft.client.gui.screens.LoadingOverlay minecraft

public net.minecraft.client.gui.screens.LoadingOverlay drawProgressBar(Lnet/minecraft/client/gui/GuiGraphics;IIIIF)V
public net.minecraft.client.gui.screens.LoadingOverlay replaceAlpha(II)I


#filter
public-f net.minecraft.client.gui.screens.inventory.AbstractSignEditScreen sign
public-f net.minecraft.client.gui.screens.inventory.AbstractSignEditScreen messages
public net.minecraft.client.gui.screens.inventory.AbstractSignEditScreen isFrontText
public-f net.minecraft.world.level.block.entity.SignText messages
public-f net.minecraft.world.level.block.entity.SignText renderMessages
public net.minecraft.client.gui.screens.inventory.BookEditScreen pages
public net.minecraft.client.gui.screens.inventory.BookEditScreen book
public net.minecraft.client.gui.screens.inventory.BookEditScreen title
public net.minecraft.client.gui.screens.inventory.BookEditScreen isModified
public net.minecraft.client.gui.screens.inventory.BookEditScreen isSigning
public net.minecraft.client.gui.screens.inventory.BookEditScreen owner
public net.minecraft.client.gui.screens.inventory.BookEditScreen hand
public net.minecraft.client.gui.screens.inventory.BookEditScreen eraseEmptyTrailingPages()V
public net.minecraft.client.gui.screens.inventory.BookViewScreen bookAccess
public-f net.minecraft.client.gui.screens.inventory.BookViewScreen$WrittenBookAccess pages
public-f net.minecraft.client.gui.screens.Screen children
public net.minecraft.client.gui.screens.Screen setInitialFocus(Lnet/minecraft/client/gui/components/events/GuiEventListener;)V
public net.minecraft.client.gui.components.AbstractWidget x
public net.minecraft.client.gui.components.AbstractWidget y
public net.minecraft.client.gui.components.EditBox onValueChange(Ljava/lang/String;)V
public net.minecraft.world.level.block.entity.BaseContainerBlockEntity name

# AnvilScreen
public net.minecraft.client.gui.screens.inventory.AnvilScreen name
public net.minecraft.client.gui.screens.inventory.AnvilScreen onNameChanged(Ljava/lang/String;)V

public net.minecraft.client.gui.screens.inventory.StructureBlockEditScreen nameEdit
public net.minecraft.client.gui.screens.inventory.StructureBlockEditScreen dataEdit
public net.minecraft.client.gui.screens.inventory.AbstractCommandBlockEditScreen commandEdit
public net.minecraft.world.entity.animal.horse.AbstractHorse inventory
public net.minecraft.world.entity.player.Player inventory
public net.minecraft.world.entity.player.Player enderChestInventory
public net.minecraft.world.entity.Entity DATA_CUSTOM_NAME

#display filter
public-f net.minecraft.network.protocol.game.ClientboundOpenScreenPacket title
public-f net.minecraft.network.protocol.game.ClientboundDisconnectPacket reason
public-f net.minecraft.network.protocol.game.ClientboundMapItemDataPacket decorations
public-f net.minecraft.nbt.CompoundTag tags
public-f net.minecraft.network.protocol.game.ClientboundTagQueryPacket tag
public-f net.minecraft.network.protocol.game.ClientboundPlayerCombatKillPacket message
public-f net.minecraft.network.protocol.game.ClientboundSetActionBarTextPacket text
public-f net.minecraft.network.protocol.game.ClientboundSetTitleTextPacket text
public-f net.minecraft.network.protocol.game.ClientboundSetSubtitleTextPacket text
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket operation
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$AddOperation
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$AddOperation name
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$UpdateNameOperation
public-f net.minecraft.network.protocol.game.ClientboundBossEventPacket$UpdateNameOperation name
public-f net.minecraft.client.gui.components.CommandSuggestions suggestions
public-f net.minecraft.client.gui.components.CommandSuggestions$SuggestionsList
public-f net.minecraft.client.gui.components.CommandSuggestions$SuggestionsList suggestionList
# StringTag is a record in 1.21.8, field is immutable
# public-f net.minecraft.nbt.StringTag data
public-f net.minecraft.util.datafix.DataFixers addFixers(Lcom/mojang/datafixers/DataFixerBuilder;)V

#screen popup
public com.mojang.blaze3d.platform.Monitor videoModes
public com.mojang.blaze3d.platform.Window windowedX
public com.mojang.blaze3d.platform.Window windowedY
public com.mojang.blaze3d.platform.Window windowedWidth
public com.mojang.blaze3d.platform.Window windowedHeight
public com.mojang.blaze3d.platform.Window fullscreen
public com.mojang.blaze3d.platform.Window x
public com.mojang.blaze3d.platform.Window y
public com.mojang.blaze3d.platform.Window width
public com.mojang.blaze3d.platform.Window height

#skin mod
public net.minecraft.client.renderer.texture.HttpTexture setNoAlpha(Lcom/mojang/blaze3d/platform/NativeImage;IIII)V
public net.minecraft.client.renderer.texture.HttpTexture doNotchTransparencyHack(Lcom/mojang/blaze3d/platform/NativeImage;IIII)V
public net.minecraft.client.resources.SkinManager registerTextures(Ljava/util/UUID;Lcom/mojang/authlib/minecraft/MinecraftProfileTextures;)Ljava/util/concurrent/CompletableFuture;

# friend play mod
public-f net.minecraft.server.network.ServerCommonPacketListenerImpl connection
public net.minecraft.client.multiplayer.ClientPacketListener seenInsecureChatWarning

# screen title
public net.minecraft.client.gui.screens.Screen title

# player inventory
public net.minecraft.world.entity.player.Inventory items
public net.minecraft.world.entity.player.Inventory armor
public net.minecraft.world.entity.player.Inventory offhand
